*{
    padding: 0;margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #00008bcb;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.loader{
    display: flex;
    justify-content: space-evenly;
   padding: 0px 20px;
}

.loader .loading{
    background-color: aliceblue;
    border-radius: 50px;
    margin: 0 10px;
    width: 20px;
    height: 20px;
    animation: load 0.8s ease infinite;
}

.loader .one{
    animation-delay: 0.3s;
}
.loader .two{
    animation-delay: 0.4s;
}
.loader .three{
    animation-delay: 0.5s;
}
.loader .four{
    animation-delay: 0.6s;
}
@keyframes load{
    0%, 100%{
      transform: scaleY(1);
    }

    50%{
     
        transform: scaleY(0.5);
    }
}